.App {
  text-align: center;
}

/* .subh{
  margin: auto auto 2.5rem;
  font-weight: 600;
  width: max-content;
  text-transform: uppercase;
  padding: 0px 5px;
  background: linear-gradient(180deg,transparent 60%,var(--color1) 30px);
  font-size: 24px;color: blue;
} */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
